# Технологии машинного обучения
# Рубежный контроль №1
# Тема: технологии разведочного анализа и обработки данных
## ИУ5-63 Попов Максим Алексеевич
## 13 вариант
## Импорт библиотек

In [14]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Загрузка данных

In [15]:
data = pd.read_csv('states_all_extended.csv')

## Описание датасета
This dataset is designed to bring together multiple facets of U.S. education data into one convenient CSV (states_all.csv).

Contents
states_all.csv:
The primary data file. Contains aggregates from all state-level sources in one CSV.

output_files/states_all_extended.csv:
The contents of states_all.csv with additional data related to race and gender.

Column Breakdown
Identification
PRIMARY_KEY: A combination of the year and state name.
YEAR
STATE
Enrollment
A breakdown of students enrolled in schools by school year.

GRADES_PK: Number of students in Pre-Kindergarten education.

GRADES_4: Number of students in fourth grade.

GRADES_8: Number of students in eighth grade.

GRADES_12: Number of students in twelfth grade.

GRADES_1_8: Number of students in the first through eighth grades.

GRADES 9_12: Number of students in the ninth through twelfth grades.

GRADES_ALL: The count of all students in the state. Comparable to ENROLL in the financial data (which is the U.S.
Census Bureau's estimate for students in the state).

The extended version of states_all contains additional columns that breakdown enrollment by race and gender. For example:

G06_A_A: Total number of sixth grade students.

G06_AS_M: Number of sixth grade male students whose ethnicity was classified as "Asian".

G08_AS_A_READING: Average reading score of eighth grade students whose ethnicity was classified as "Asian".

The represented races include AM (American Indian or Alaska Native), AS (Asian), HI (Hispanic/Latino), BL (Black or African American), WH (White), HP (Hawaiian Native/Pacific Islander), and TR (Two or More Races). The represented genders include M (Male) and F (Female).

Financials
A breakdown of states by revenue and expenditure.

ENROLL: The U.S. Census Bureau's count for students in the state. Should be comparable to GRADES_ALL (which is the
NCES's estimate for students in the state).

TOTAL REVENUE: The total amount of revenue for the state.

FEDERAL_REVENUE
STATE_REVENUE
LOCAL_REVENUE
TOTAL_EXPENDITURE: The total expenditure for the state.

INSTRUCTION_EXPENDITURE

SUPPORT_SERVICES_EXPENDITURE

CAPITAL_OUTLAY_EXPENDITURE

OTHER_EXPENDITURE

Academic Achievement
A breakdown of student performance as assessed by the corresponding exams (math and reading,
grades 4 and 8).

AVG_MATH_4_SCORE: The state's average score for fourth graders taking the NAEP math exam.

AVG_MATH_8_SCORE: The state's average score for eight graders taking the NAEP math exam.

AVG_READING_4_SCORE: The state's average score for fourth graders taking the NAEP reading exam.

AVG_READING_8_SCORE: The state's average score for eighth graders taking the NAEP reading exam.

## Предварительный анализ

In [16]:
data.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,G08_HI_A_READING,G08_HI_A_MATHEMATICS,G08_AS_A_READING,G08_AS_A_MATHEMATICS,G08_AM_A_READING,G08_AM_A_MATHEMATICS,G08_HP_A_READING,G08_HP_A_MATHEMATICS,G08_TR_A_READING,G08_TR_A_MATHEMATICS
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.shape

(1715, 266)

In [18]:
data.dtypes

PRIMARY_KEY              object
STATE                    object
YEAR                      int64
ENROLL                  float64
TOTAL_REVENUE           float64
                         ...
G08_AM_A_MATHEMATICS    float64
G08_HP_A_READING        float64
G08_HP_A_MATHEMATICS    float64
G08_TR_A_READING        float64
G08_TR_A_MATHEMATICS    float64
Length: 266, dtype: object

In [19]:
data.isnull().sum()

PRIMARY_KEY                0
STATE                      0
YEAR                       0
ENROLL                   491
TOTAL_REVENUE            440
                        ...
G08_AM_A_MATHEMATICS    1655
G08_HP_A_READING        1701
G08_HP_A_MATHEMATICS    1702
G08_TR_A_READING        1574
G08_TR_A_MATHEMATICS    1570
Length: 266, dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Columns: 266 entries, PRIMARY_KEY to G08_TR_A_MATHEMATICS
dtypes: float64(263), int64(1), object(2)
memory usage: 3.5+ MB

In [21]:
data.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,G08_HI_A_READING,G08_HI_A_MATHEMATICS,G08_AS_A_READING,G08_AS_A_MATHEMATICS,G08_AM_A_READING,G08_AM_A_MATHEMATICS,G08_HP_A_READING,G08_HP_A_MATHEMATICS,G08_TR_A_READING,G08_TR_A_MATHEMATICS
count,1715.000000,1.224000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.224000e+03,...,246.000000,248.000000,153.000000,157.000000,61.000000,60.000000,14.000000,13.000000,141.000000,145.000000
mean,2002.075219,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,254.845528,269.995968,279.803922,306.898089,246.688525,261.016667,248.285714,264.846154,268.085106,284.082759
std,9.568621,1.066514e+06,1.175962e+07,1.146992e+06,5.549735e+06,5.489562e+06,1.199279e+07,6.300569e+06,3.357214e+06,5.347893e+05,...,5.617077,5.992909,9.017570,11.034436,7.630074,6.652365,6.568322,7.861787,7.218517,7.684313
min,1986.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,239.000000,255.000000,257.000000,277.000000,229.000000,240.000000,234.000000,250.000000,249.000000,266.000000
25%,1994.000000,2.645145e+05,2.189504e+06,1.899575e+05,1.165776e+06,7.151210e+05,2.170404e+06,1.171336e+06,6.380760e+05,1.034492e+05,...,251.000000,266.000000,274.000000,301.000000,242.000000,257.750000,244.250000,258.000000,263.000000,279.000000
50%,2002.000000,6.499335e+05,5.085826e+06,4.035480e+05,2.537754e+06,2.058996e+06,5.242672e+06,2.658253e+06,1.525471e+06,2.717040e+05,...,255.000000,270.000000,281.000000,309.000000,247.000000,261.000000,248.500000,266.000000,267.000000,284.000000
75%,2010.000000,1.010532e+06,1.084516e+07,8.279320e+05,5.055548e+06,4.755293e+06,1.074420e+07,5.561959e+06,3.222924e+06,5.172222e+05,...,258.000000,274.000000,286.000000,314.000000,252.000000,265.000000,253.500000,269.000000,272.000000,289.000000
max,2019.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,277.000000,287.000000,298.000000,332.000000,261.000000,275.000000,259.000000,276.000000,291.000000,305.000000

## Обработка пропусков

In [22]:
# Удаляем столбцы, которые не несут значимой информации
data.drop(['ENROLL','OTHER_EXPENDITURE','A_A_A','G01_A_A','G02_A_A','G03_A_A','G04_A_A','G05_A_A','G06_A_A','G07_A_A','G08_A_A','G09_A_A','G10_A_A','G11_A_A','G12_A_A','KG_A_A','PK_A_A','G01-G08_A_A','G09-G12_A_A','G01_AM_F','G01_AM_M','G01_AS_F','G01_AS_M','G01_BL_F','G01_BL_M','G01_HI_F','G01_HI_M','G01_HP_F','G01_HP_M','G01_TR_F','G01_TR_M','G01_WH_F','G01_WH_M','G02_AM_F','G02_AM_M','G02_AS_F','G02_AS_M','G02_BL_F','G02_BL_M','G02_HI_F','G02_HI_M','G02_HP_F','G02_HP_M','G02_TR_F','G02_TR_M','G02_WH_F','G02_WH_M','G03_AM_F','G03_AM_M','G03_AS_F','G03_AS_M','G03_BL_F','G03_BL_M','G03_HI_F','G03_HI_M','G03_HP_F','G03_HP_M','G03_TR_F','G03_TR_M','G03_WH_F','G03_WH_M','G04_AM_F','G04_AM_M','G04_AS_F','G04_AS_M','G04_BL_F','G04_BL_M','G04_HI_F','G04_HI_M','G04_HP_F','G04_HP_M','G04_TR_F','G04_TR_M','G04_WH_F','G04_WH_M','G05_AM_F','G05_AM_M','G05_AS_F','G05_AS_M','G05_BL_F','G05_BL_M','G05_HI_F','G05_HI_M','G05_HP_F','G05_HP_M','G05_TR_F','G05_TR_M','G05_WH_F','G05_WH_M','G06_AM_F','G06_AM_M','G06_AS_F','G06_AS_M','G06_BL_F','G06_BL_M','G06_HI_F','G06_HI_M','G06_HP_F','G06_HP_M','G06_TR_F','G06_TR_M','G06_WH_F','G06_WH_M','G07_AM_F','G07_AM_M','G07_AS_F','G07_AS_M','G07_BL_F','G07_BL_M','G07_HI_F','G07_HI_M','G07_HP_F','G07_HP_M','G07_TR_F','G07_TR_M','G07_WH_F','G07_WH_M','G08_AM_F','G08_AM_M','G08_AS_F','G08_AS_M','G08_BL_F','G08_BL_M','G08_HI_F','G08_HI_M','G08_HP_F','G08_HP_M','G08_TR_F','G08_TR_M','G08_WH_F','G08_WH_M','G09_AM_F','G09_AM_M','G09_AS_F','G09_AS_M','G09_BL_F','G09_BL_M','G09_HI_F','G09_HI_M','G09_HP_F','G09_HP_M','G09_TR_F','G09_TR_M','G09_WH_F','G09_WH_M','G10_AM_F','G10_AM_M','G10_AS_F','G10_AS_M','G10_BL_F','G10_BL_M','G10_HI_F','G10_HI_M','G10_HP_F','G10_HP_M','G10_TR_F','G10_TR_M','G10_WH_F','G10_WH_M','G11_AM_F','G11_AM_M','G11_AS_F','G11_AS_M','G11_BL_F','G11_BL_M','G11_HI_F','G11_HI_M','G11_HP_F','G11_HP_M','G11_TR_F','G11_TR_M','G11_WH_F','G11_WH_M','G12_AM_F','G12_AM_M','G12_AS_F','G12_AS_M','G12_BL_F','G12_BL_M','G12_HI_F','G12_HI_M','G12_HP_F','G12_HP_M','G12_TR_F','G12_TR_M','G12_WH_F','G12_WH_M','KG_AM_F','KG_AM_M','KG_AS_F','KG_AS_M','KG_BL_F','KG_BL_M','KG_HI_F','KG_HI_M','KG_HP_F','KG_HP_M','KG_TR_F','KG_TR_M','KG_WH_F','KG_WH_M','PK_AM_F','PK_AM_M','PK_AS_F','PK_AS_M','PK_BL_F','PK_BL_M','PK_HI_F','PK_HI_M','PK_HP_F','PK_HP_M','PK_TR_F','PK_TR_M','PK_WH_F','PK_WH_M','G04_WH_A_READING','G04_WH_A_MATHEMATICS','G04_BL_A_READING','G04_BL_A_MATHEMATICS','G04_HI_A_READING','G04_HI_A_MATHEMATICS','G04_AS_A_READING','G04_AS_A_MATHEMATICS','G04_AM_A_READING','G04_AM_A_MATHEMATICS','G04_HP_A_READING','G04_HP_A_MATHEMATICS','G04_TR_A_READING','G04_TR_A_MATHEMATICS','G08_A_A_READING','G08_A_M_READING','G08_WH_A_READING','G08_WH_A_MATHEMATICS','G08_BL_A_READING','G08_BL_A_MATHEMATICS','G08_HI_A_READING','G08_HI_A_MATHEMATICS','G08_AS_A_READING','G08_AS_A_MATHEMATICS','G08_AM_A_READING','G08_AM_A_MATHEMATICS','G08_HP_A_READING','G08_HP_A_MATHEMATICS','G08_TR_A_READING','G08_TR_A_MATHEMATICS', 'G08_A_F_READING'], axis = 1, inplace = True)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   TOTAL_REVENUE                 1275 non-null   float64
 4   FEDERAL_REVENUE               1275 non-null   float64
 5   STATE_REVENUE                 1275 non-null   float64
 6   LOCAL_REVENUE                 1275 non-null   float64
 7   TOTAL_EXPENDITURE             1275 non-null   float64
 8   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 9   SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 10  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 11  G04_A_A_READING               650 non-null    float64
 12  G04_A_A_MATHEMATICS           565 non-null    float64
 13  G04_A_M_READING               650 non-null    float64
 14  G04_A_M_MATHEMATICS           565 non-null    float64
 15  G04_A_F_READING               650 non-null    float64
 16  G04_A_F_MATHEMATICS           565 non-null    float64
 17  G08_A_A_MATHEMATICS           602 non-null    float64
 18  G08_A_M_MATHEMATICS           602 non-null    float64
 19  G08_A_F_MATHEMATICS           602 non-null    float64
dtypes: float64(17), int64(1), object(2)
memory usage: 268.1+ KB

In [24]:
data.head()

,PRIMARY_KEY,STATE,YEAR,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,G04_A_A_READING,G04_A_A_MATHEMATICS,G04_A_M_READING,G04_A_M_MATHEMATICS,G04_A_F_READING,G04_A_F_MATHEMATICS,G08_A_A_MATHEMATICS,G08_A_M_MATHEMATICS,G08_A_F_MATHEMATICS
0,1992_ALABAMA,ALABAMA,1992,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,174053.0,207.0,208.0,204.0,208.0,211.0,208.0,252.0,253.0,251.0
1,1992_ALASKA,ALASKA,1992,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,37451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,609114.0,209.0,215.0,206.0,215.0,213.0,216.0,265.0,266.0,265.0
3,1992_ARKANSAS,ARKANSAS,1992,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,145212.0,211.0,210.0,208.0,211.0,214.0,210.0,256.0,257.0,256.0
4,1992_CALIFORNIA,CALIFORNIA,1992,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,2044688.0,202.0,208.0,198.0,209.0,207.0,208.0,261.0,260.0,262.0

In [25]:
# Заполняем отсутствующие числовые данные у штата Аляска средними значениями
data['G04_A_A_READING'] = data['G04_A_A_READING'].replace(0,np.nan)
data['G04_A_A_READING'] = data['G04_A_A_READING'].fillna(data['G04_A_A_READING'].mean())

data['G04_A_A_MATHEMATICS'] = data['G04_A_A_MATHEMATICS'].replace(0,np.nan)
data['G04_A_A_MATHEMATICS'] = data['G04_A_A_MATHEMATICS'].fillna(data['G04_A_A_MATHEMATICS'].mean())

data['G04_A_M_READING'] = data['G04_A_M_READING'].replace(0,np.nan)
data['G04_A_M_READING'] = data['G04_A_M_READING'].fillna(data['G04_A_M_READING'].mean())

data['G04_A_M_MATHEMATICS'] = data['G04_A_M_MATHEMATICS'].replace(0,np.nan)
data['G04_A_M_MATHEMATICS'] = data['G04_A_M_MATHEMATICS'].fillna(data['G04_A_M_MATHEMATICS'].mean())

data['G04_A_F_READING'] = data['G04_A_F_READING'].replace(0,np.nan)
data['G04_A_F_READING'] = data['G04_A_F_READING'].fillna(data['G04_A_F_READING'].mean())

data['G04_A_F_MATHEMATICS'] = data['G04_A_F_MATHEMATICS'].replace(0,np.nan)
data['G04_A_F_MATHEMATICS'] = data['G04_A_F_MATHEMATICS'].fillna(data['G04_A_F_MATHEMATICS'].mean())

data['G08_A_A_MATHEMATICS'] = data['G08_A_A_MATHEMATICS'].replace(0,np.nan)
data['G08_A_A_MATHEMATICS'] = data['G08_A_A_MATHEMATICS'].fillna(data['G08_A_A_MATHEMATICS'].mean())

data['G08_A_M_MATHEMATICS'] = data['G08_A_M_MATHEMATICS'].replace(0,np.nan)
data['G08_A_M_MATHEMATICS'] = data['G08_A_M_MATHEMATICS'].fillna(data['G08_A_M_MATHEMATICS'].mean())

data['G08_A_F_MATHEMATICS'] = data['G08_A_F_MATHEMATICS'].replace(0,np.nan)
data['G08_A_F_MATHEMATICS'] = data['G08_A_F_MATHEMATICS'].fillna(data['G08_A_F_MATHEMATICS'].mean())

In [26]:
data.head()

,PRIMARY_KEY,STATE,YEAR,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,G04_A_A_READING,G04_A_A_MATHEMATICS,G04_A_M_READING,G04_A_M_MATHEMATICS,G04_A_F_READING,G04_A_F_MATHEMATICS,G08_A_A_MATHEMATICS,G08_A_M_MATHEMATICS,G08_A_F_MATHEMATICS
0,1992_ALABAMA,ALABAMA,1992,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,174053.0,207.000000,208.000000,204.000000,208.000000,211.000000,208.000000,252.000000,253.000000,251.000000
1,1992_ALASKA,ALASKA,1992,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,37451.0,218.806154,236.327434,215.304615,237.261947,222.396923,235.304425,278.280731,278.722591,277.828904
2,1992_ARIZONA,ARIZONA,1992,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,609114.0,209.000000,215.000000,206.000000,215.000000,213.000000,216.000000,265.000000,266.000000,265.000000
3,1992_ARKANSAS,ARKANSAS,1992,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,145212.0,211.000000,210.000000,208.000000,211.000000,214.000000,210.000000,256.000000,257.000000,256.000000
4,1992_CALIFORNIA,CALIFORNIA,1992,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,2044688.0,202.000000,208.000000,198.000000,209.000000,207.000000,208.000000,261.000000,260.000000,262.000000